body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/p.jpg'); /* Ganti 'nama-file-gambar.jpg' dengan path atau URL gambar Anda */
    background-size: cover; /* Untuk memastikan gambar latar belakang menutupi seluruh area */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px; /* Atur lebar kotak sesuai kebutuhan */
    padding: 20px;
    background-color: #358549;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00ff88;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
